@page "/"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject HttpClient Http
@using BlazorBootstrap
@using Forecast.Client.Shared.Components.ConfigureComponent
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json
@using ApexCharts

@if (!String.IsNullOrEmpty(CallOutPrecText) || !String.IsNullOrEmpty(CallOutWindText))
{
    <div class="row text-center">
        <Callout Type="CalloutType.Danger">
            <strong>Not suitable for riding the bike today!</strong><br>
            <span class="my-2">@CallOutPrecText</span><br>
            <span class="my-2">@CallOutWindText</span>
        </Callout>
    </div>
}

<div class="row">
    <div class="col-lg-2 col-md-1 col-sm-0" />

    <div class="col-lg-8 col-md-10 col-sm-12">
        <ConfigureComponent Coordinates="Coordinates" WeatherData="WeatherData"
            OnCoordinatesUpdated="@OnCoordinatesUpdated" OnWeatherDataUpdated="@OnWeatherDataUpdated"
            IsLoading="IsLoading" OnDataLoading="@OnDataLoading" />

        @if (IsLoading)
        {
            <div class="d-flex justify-content-center pt-5">
                <Spinner Type="SpinnerType.Border" Size="SpinnerSize.ExtraLarge" />
            </div>
        }
        else
        {

            @* Precipitation Diagram *@
            <div class="row mt-5">
                <div class="forecast-diagram">
                    <ApexChart @ref="precChart" TItem="WeatherFeature" Title="Precipitation Forecast (mm)" Height="400">
                        <ApexPointSeries TItem="WeatherFeature" Items="WeatherData.Features" Name="prec_loc1"
                            SeriesType="SeriesType.Bar" XValue="@(e => e.DateTime.LocalDateTime.ToString("g"))"
                            YValue="@(e => e.L1Precipitation)" Color="#33d9b2">
                        </ApexPointSeries>

                        <ApexPointSeries TItem="WeatherFeature" Items="WeatherData.Features" Name="prec_loc2"
                            SeriesType="SeriesType.Bar" XValue="@(e => e.DateTime.LocalDateTime.ToString("g"))"
                            YValue="@(e => e.L2Precipitation)" Color="#34ace0">
                        </ApexPointSeries>
                    </ApexChart>
                </div>
            </div>

            @* Wind Diagram *@
            <div class="row mt-5">
                <div class="forecast-diagram">
                    <ApexChart @ref="windChart" TItem="WeatherFeature" Title="Wind Forecast (m/s)" Height="400">
                        <ApexPointSeries TItem="WeatherFeature" Items="WeatherData.Features" Name="wind_loc1"
                            SeriesType="SeriesType.Bar" XValue="@(e => e.DateTime.LocalDateTime.ToString("g"))"
                            YValue="@(e => e.L1WindSpeed)" Color="#33d9b2">
                        </ApexPointSeries>

                        <ApexPointSeries TItem="WeatherFeature" Items="WeatherData.Features" Name="wgust_loc1"
                            SeriesType="SeriesType.Line" XValue="@(e => e.DateTime.LocalDateTime.ToString("g"))"
                            YValue="@(e => e.L1GustWindSpeed)" Color="#218c74">
                        </ApexPointSeries>

                        <ApexPointSeries TItem="WeatherFeature" Items="WeatherData.Features" Name="wind_loc2"
                            SeriesType="SeriesType.Bar" XValue="@(e => e.DateTime.LocalDateTime.ToString("g"))"
                            YValue="@(e => e.L2WindSpeed)" Color="#34ace0">
                        </ApexPointSeries>

                        <ApexPointSeries TItem="WeatherFeature" Items="WeatherData.Features" Name="wgust_loc2"
                            SeriesType="SeriesType.Line" XValue="@(e => e.DateTime.LocalDateTime.ToString("g"))"
                            YValue="@(e => e.L2GustWindSpeed)" Color="#227093">
                        </ApexPointSeries>
                    </ApexChart>
                </div>
            </div>

            @* Temperature Diagram *@
            <div class="row mt-5">
                <div class="forecast-diagram">
                    <ApexChart @ref="tempChart" TItem="WeatherFeature" Title="Temperature Forecast (celsius)" Height="400">
                        <ApexPointSeries TItem="WeatherFeature" Items="WeatherData.Features" Name="temp_loc1"
                            SeriesType="SeriesType.Line" XValue="@(e => e.DateTime.LocalDateTime.ToString("g"))"
                            YValue="@(e => e.L1TemperatureC)" Color="#218c74">
                        </ApexPointSeries>

                        <ApexPointSeries TItem="WeatherFeature" Items="WeatherData.Features" Name="temp_loc2"
                            SeriesType="SeriesType.Line" XValue="@(e => e.DateTime.LocalDateTime.ToString("g"))"
                            YValue="@(e => e.L2TemperatureC)" Color="#34ace0">
                        </ApexPointSeries>
                    </ApexChart>
                </div>
            </div>
        }
    </div>

    <div class="col-lg-2 col-md-1 col-sm-0" />
</div>
