@page "/"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject HttpClient Http
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json
@using ApexCharts

<div class="row">
    <EditForm Model="@Coordinates" OnValidSubmit="HandleValidSubmit" FormName="SelectCoordinates">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="border border-3 p-4">
            <div class="row text-center">
                <div class="col-md-6 col-sm-12">
                    <h2 class="mt-4">First location</h2>
                    <InputText class="mx-2 my-2" @bind-Value="Coordinates.PrimaryLatitude" placeholder="Latitude" />
                    <InputText class="mx-2 my-2" @bind-Value="Coordinates.PrimaryLongitude" placeholder="Longitude" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <h2 class="mt-4">Second location</h2>
                    <InputText class="mx-2 my-2" @bind-Value="Coordinates.SecondaryLatitude" placeholder="Latitude" />
                    <InputText class="mx-2 my-2" @bind-Value="Coordinates.SecondaryLongitude" placeholder="Longitude" />
                </div>
            </div>
            <div class="row text-center" style="max-width: 80%; margin-left: auto; margin-right: auto;">
                <Button Class="mt-4" Type="ButtonType.Submit" Color="ButtonColor.Primary" To="#">Save</Button>
            </div>
        </div>
    </EditForm>
</div>
<div class="row mt-5">
    <ApexChart TItem="WeatherFeature" Title="Temperature Forecast" Options="options">
        <ApexPointSeries TItem="WeatherFeature" Items="WeatherData.Features" Name="temp_loc1"
            SeriesType="SeriesType.Line" XValue="@(e => e.DateTime.LocalDateTime.ToString("g"))"
            YValue="@(e => e.L1TemperatureC)">
        </ApexPointSeries>
        <ApexPointSeries TItem="WeatherFeature" Items="WeatherData.Features" Name="temp_loc2"
            SeriesType="SeriesType.Line" XValue="@(e => e.DateTime.LocalDateTime.ToString("g"))"
            YValue="@(e => e.L2TemperatureC)">
        </ApexPointSeries>

        <ApexPointSeries TItem="WeatherFeature" Items="WeatherData.Features" Name="prec_loc1"
            SeriesType="SeriesType.Bar" XValue="@(e => e.DateTime.LocalDateTime.ToString("g"))"
            YValue="@(e => e.L1Precipitation)">
        </ApexPointSeries>
        <ApexPointSeries TItem="WeatherFeature" Items="WeatherData.Features" Name="prec_loc2"
            SeriesType="SeriesType.Bar" XValue="@(e => e.DateTime.LocalDateTime.ToString("g"))"
            YValue="@(e => e.L2Precipitation)">
        </ApexPointSeries>

    </ApexChart>
</div>
